/* Article */

.surface {
    background: rgba(255, 255, 255);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    text-align: center;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: pointer;
    transform:  translateY(var(--translate-y, 0));
    font-size: 23px;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 2%;
    font-family: "Arial";
}

.surface:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.text-container {
    margin-left: 5%;
    margin-right: 5%;
}

.wrap-image-right {
    float: right;
    margin-left: 17px;
    margin-right: 4%;
    margin-bottom: 5px; 
}

.wrap-image-left {
    float: left;
    margin-left: 4%;
    margin-right: 17px;
    margin-bottom: 5px; 
}

.parallel {
    /* align-items: center; */
    justify-content: center;
    display:flex;
    flex-direction:row;
}